/* Button.module.css */
.loadMore {
    background-color: #2196f3; /* culoare albastră */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Alte stiluri, dacă sunt */
  